fastapi
uvicorn[standard]
sqlmodel
psycopg[binary]
pydantic>=2.8
pydantic-settings>=2.3.0
python-dotenv
loguru

opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp

prometheus-fastapi-instrumentator

psycopg2-binary==2.9.9

faust-streaming

kafka-python
